<!DOCTYPE html>
<html ng-app="cmsng">
  <head>
    <title>CMS-NG</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//cdn.firebase.com/v0/firebase.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="//firebase.github.io/angularFire/angularFire.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>CMS-NG</h1>
      <h4>The next-generation CMS.</h4>
      <div ng-controller="NodeCtrl">
        <div class="form-vertical">
          <div class="control-group">
            <label class="control-label" for="inputTitle">Title</label>
            <div class="controls">
              <input id="inputTitle" type="text" ng-model="node.title">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputBody">Body</label>
            <div class="controls">
              <textarea id="inputBody" ng-model="node.body"></textarea>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button class="btn" ng-click="add()"><i class="icon-plus-sign"></i>Add</button>
            </div>
          </div>
        </div>
        <div ng-repeat="n in nodes" ng-controller="EditCtrl">
          <h3 contenteditable="true" ng-model="node.title">{{n.title}}</h3>
          <div contenteditable="true" ng-model="node.body" ng-bind-html-unsafe="node.body"></div>
        </div>
      </div>
    </div>
  </body>
</html>
